body{
    padding: 0;
    margin: 0;
}

.container{
    width: 100vw;
    height: 100vh;
    position: relative;
    padding: 0;
    margin: 0;  
    box-sizing: border-box;
}

.container-image{
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
}

.container-image>img{
    width: 100%;
}
.overlay{
    position: absolute;
    z-index: 10;
    width: 20%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);

}

.logo>img{
    position: absolute;
    width: 100%;
}

.list{
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    right: 10px;
    
}

p{
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 35px;
    color: white;
}